body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* MENU */
.navbar {
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 10;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover {
    text-decoration: underline;
}

/* HERO */
.hero {
    height: 100vh;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20230411/pngtree-nature-forest-sun-ecology-image_2256183.jpg");
    background-size: cover;
    background-position: center;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
}

.hero-content {
    position: relative;
    color: white;
    text-align: center;
    top: 40%;
}

.hero h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    opacity: 0.9;
}
