body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #111;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(to right, #000000, #1a1a1a);
    color: white;
    text-align: center;
    padding-top: 200px;
}

.hero h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    opacity: 0.8;
}

.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 40px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background-color: white;
    color: black;
}

/* SECTIONS */
section {
    padding: 100px 20px;
    text-align: center;
}

.about {
    background-color: #f7f7f7;
}

.services {
    background-color: #ffffff;
}

.service-box {
    max-width: 500px;
    margin: 40px auto;
}

/* CONTACT */
.contact {
    background-color: #111;
    color: white;
}

/* FOOTER */
footer {
    padding: 30px;
    text-align: center;
    background-color: black;
    color: white;
}
