/* PAGES INTERNES */
.page {
    padding: 150px 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.page h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.offers {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.offers li {
    margin: 10px 0;
    font-size: 18px;
}

/* MENU DARK */
.navbar.dark a {
    color: black;
}
